.header {
  /* width: 100vw; */
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 30px;
}

.header-logo {
  width: 82px;
  height: 25.35px;
}
