.header {
  border: 2px solid black;
  width: 550px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 82px;
  height: 25.35px;
}
